//variables should be here
body {
  --max-width: 960px;
  --border-radius: 4px;

  --bg-clr-500: #111111;
  --bg-clr-400: #222222;
  --bg-clr-300: #333333;
  --bg-clr-200: #444444;

  --text-clr-400: #f4f4f4;
  --text-clr-500: #dddddd;
  --text-clr-600: #c7c7c7;

  --accent-500: hsl(213, 64%, 50%);
  --accent-400: hsl(213, 64%, 60%);
  --accent-300: hsl(213, 64%, 70%);

  --accent-success: hsl(110, 50%, 65%);
}
